  <!-- Product Box -->

  <div class="col-md-3">
    <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/300x400" alt="" id="experiencePrimaryImage">
        <div class="card-body">
          <h4 class="card-title" id="experienceTittle">Nature Escape</h4>
          <ul class="list-inline small how-many-stars stars-left-align">
              <li class="list-inline-item m-0"><i class="far fa-star text-gray"></i></li>
              <li class="list-inline-item m-0"><i class="fas fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fas fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fas fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fas fa-star text-success"></i></li>
          </ul>
          <span class="text-muted font-weight-normal font-italic d-block small" id="categoryName">Categoría: la que corresponda</span>
          <p class="card-text" id="experienceDescrption">Descripción sobre Nature Escape.</p>
          <a href="#" class="btn btn-primary">Quiero saber más!</a>
        </div>
      </div>
</div>

  <!-- /Page Content -->