*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

.banner{
    background-color: #b6b8b7;
}    

h1{
    font-size: 48px;
    padding: 8% 5%;    
}

h1 a{
    color: #0c1313;
}

ul{
    display: flex;
    justify-content: space-around;
}

#links{
    padding: 3% 2%;
}

#links a{
    font-size: 24px;
    color: #0c1313; 
}

#login {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#login a {
    font-size: 18px;
    color: #0c1313;
}

#search {
    display: flex;
    align-items: center;
}
