<!DOCTYPE html>
<html lang="en">

<%- include partials/head %>

<body>

    <!-- NavBar -->
    <%- include partials/navbar %>

    <div>
        <!-- Register Content -->
        <% if (typeof errors != 'undefined') { %>
            <p style="color:red">ERROR</p>
            <ul>
                <% for (let i =0; i < errors.length; i++){ %>
                    <li>
                        <%=errors[i].msg%>
                    </li>
                <% } %>
            </ul>
        <% } %>
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header-title">
                        <h1 class="wv-heading--title">
                            Ingresa para disfrutar de todos nuestros beneficios!
                        </h1>
                        <h2 class="wv-heading--subtitle">
                            Te enviaremos las mejores promociones para que vivas experiencias únicas, especialmente curadas por nuestro equipo de expertos.
                        </h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="myform form ">
                        <form action="" method="post" name="register">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control my-input" id="email" placeholder="eMail" required="required">
                                <!--<span class="error" aria-live="polite">Ingrese un eMail válido</span>-->
                            </div>
                            <div class="form-group">
                                <input type="password" min="0" name="password" id="password" class="form-control my-input" placeholder="Contraseña" required="required" minlength="8" maxlength="20">
                            </div>
                            <p>
                                <label>
                                    <input type="checkbox" name="remember">
                                    Recordarme
                                </label>
                            </p>
                            <div class="text-center ">
                                <button type="submit" class=" btn btn-block send-button tx-tfm">Ingresá!</button>
                            </div>
                            <div class="col-md-12 ">
                                <div class="login-or">
                                    <hr class="hr-or">
                            <!--    <span class="span-or">o</span> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-reset btn-block reset-button" data-toggle="modal" data-target="#resetModal">
                                    Ups! Olvide mi contraseña...
                                </button>
                                <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-center" id="resetModalLabel">Restablecer Contraseña</h5>
                                                </div>
                                        <div class="modal-body">
                                            <form action="/users/reset" class="text-left" method="POST">
                                                <div class="form-row">
                                                    <div class="form-group col">
                                                        <label for="lostPasswordEmail">Ingrese su email</label>
                                                        <input type="text" class="form-control" placeholder="eMail" id="lostPasswordEmail">
                                                        <div class="input-group-append"></div>
                                                        <div class="login-or">
                                                            <hr class="hr-or">
                                                        </div>
                                                        <button type="sumbit" class="btn btn-secondary">Enviar</button>    
                                                        </div>
                                                    </div>
                                                </div>    
                                            </form>
                                        </div>      
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include partials/footer.ejs %>
               
    
</body>

</html>