<!DOCTYPE html>
<html lang="en">

  <%- include partials/head %>

<body>
  
  <!-- NavBar -->
  <% if (typeof locals.user != 'undefined') {
    %> <%- include partials/newUserNavbar %> <%
  } else { %> 
  <%- include partials/navbar %>
  <% } %>

  <!--Shopping Cart-->

  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white">

          <!-- Shopping cart table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Producto</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Precio</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Cantidad</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Remover</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="border-0">
                    <div class="p-2">
                      <img src="http://placehold.it/100x100" alt="" width="70" class="img-fluid rounded shadow-sm">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">Experiencia Uno</a></h5><span class="text-muted font-weight-normal font-italic d-block">Categoría: Uno</span>
                      </div>
                    </div>
                  </th>
                  <td class="border-0 align-middle"><strong>$79.00</strong></td>
                  <td class="border-0 align-middle">
                    <div class="form-group">
                        <label for="sel1"></label>
                        <select class="form-control" id="sel1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                        </select>
                      </div>
                  </td>
                  <td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="p-2">
                      <img src="http://placehold.it/100x100" alt="" width="70" class="img-fluid rounded shadow-sm">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">Experiencia Dos</a></h5><span class="text-muted font-weight-normal font-italic">Categoría: Dos</span>
                      </div>
                    </div>
                  </th>
                  <td class="align-middle"><strong>$79.00</strong></td>
                  <td class="border-0 align-middle">
                    <div class="form-group">
                        <label for="sel2"></label>
                        <select class="form-control" id="sel2">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                        </select>
                      </div>
                  </td>
                  <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="p-2">
                      <img src="http://placehold.it/100x100" alt="" width="70" class="img-fluid rounded shadow-sm">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block">Experiencia Tres</a></h5><span class="text-muted font-weight-normal font-italic">Categoía: Tres</span>
                      </div>
                    </div>
                    <td class="align-middle"><strong>$79.00</strong></td>
                    <td class="border-0 align-middle">
                        <div class="form-group">
                            <label for="sel3"></label>
                            <select class="form-control" id="sel3">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                            </select>
                          </div>
                      </td>
                    <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End -->
        </div>
      </div>

      <div class="row py-5 p-4 bg-white">
        <div class="col-lg-6">
          <div class="bg-light px-4 py-3 text-uppercase font-weight-bold">¿Tenés un Cupón de Descuento?</div>
          <div class="p-4">
            <p class="font-italic mb-4">Por favor, ingresá el código del Cupón de Descuento.</p>
            <div class="input-group mb-4 border p-2">
              <input type="text" placeholder="Tu cupón..." aria-describedby="button-addon3" class="form-control border-0">
              <div class="input-group-append border-0">
                <button id="button-addon3" type="button" class="btn btn-dark px-4 "><i class="fa fa-gift mr-2"></i>Aplicar Cupón</button>
              </div>
            </div>
          </div>
          <div class="bg-light px-4 py-3 text-uppercase font-weight-bold">¿Tenés alguna necesidad especial para informarnos?</div>
          <div class="p-4">
            <p class="font-italic mb-4">Por favor, si tenés alguna necesidad especial que quieras informarnos, te agradeceremos hacerlo ahora, para poder ofrecerte la mejor experiencia.</p>
            <textarea name="" cols="30" rows="2" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bg-light px-4 py-3 text-uppercase font-weight-bold">Tu Compra </div>
          <div class="p-4">
            <p class="font-italic mb-4">Los impuestos y gastos de envío son calculados en forma automática de acuerdo a tu domicilio postal.</p>
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Costo Subtotal </strong><strong>$390.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Gastos de envío</strong><strong>$10.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Impuestos</strong><strong>$0.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Costo Total</strong>
                <h5 class="font-weight-bold">$400.00</h5>
              </li>
            </ul><a href="#" class="btn btn-dark py-2 btn-block">Proceder al pago</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!--/Shopping Cart-->

  <!-- Footer -->
  <%- include partials/footer.ejs %>

</body>
</html>
  
  
  
  
  
