<div class= "col-md-6 col-sm-6 mb-3">
    <div class="header-title">
       <h1 class="wv-heading--title">
          Hot this week! 
          <i class="fas fa-bomb"></i>
       </h1>
       <h2 class="wv-heading--subtitle">
          Estas son las experiencias destacadas de la semana
       </h2>
    </div>
 </div>