  <!-- Footer -->
  <footer class="derive-footer">

    <div class="footer-band">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0 white-text">Conectate para conocer más Experiencias!</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Facebook -->
            <a href="www.facebook.com" class="">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a href="www.twitter.com" class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a href="www.aboutme.google.com" class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a href="www.linkedin.com" class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a href="www.instagram.com" class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Acerca de Derivé</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Nuestro cliente, la empresa argentina Derivé, es una novedosa forma de compartir y regalar experiencias. 

            Derivé ofrece un canal retail con cientas de experiencias que incluyen propuestas y momentos inigualables en entretenimientos restaurantes, spas, salones de belleza, hoteles y actividades de aventura, entre otros. Nuestro eslogan es "Dejate llevar por la experiencia"</p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Servicios</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Experiencias Personales</a>
          </p>
          <p>
            <a href="#!">Experiencias Grupales</a>
          </p>
          <p>
            <a href="#!">Empresas</a>
          </p>
          <p>
            <a href="#!">Más sobre nosotros...</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Más...</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="/users/register">Registrate</a>
          </p>
          <p>
            <a href="/users/login">Ingresá</a>
          </p>
          <p>
            <a href="/contact">Contacto</a>
          </p>
          <p>
            <a href="/faqs">FAQs</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contacto</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p><i class="fas fa-home mr-3"></i> Buenos Aires, Argentina</p>
          <p><i class="fas fa-envelope mr-3"></i> info@derive.com</p>
          <p><i class="fas fa-phone mr-3"></i> + 54 911 1234 5678</p>
          
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="#"> derive.com</a>
    </div>
    <!-- Copyright -->
  
</footer>
  <!-- Footer -->