  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container navbar-content">
      <a class="navbar-brand mr-5" href="/">Derivè</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/products">EXPERIENCIAS<!--Hay que definir el objetivo del link--></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faqs">FAQs</a><!--Hay que definir el objetivo del link-->
          </li>
          <!-- Acá comienza el formulario de búsqueda, incluido dentro del mismo <ul>-->
          <form action="/busqueda" method="GET">
            <div class="input-group">
              <input name="busqueda" type="text" class="form-control" placeholder="Encontrá tu experiencia...">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"> <!--Asignarle funcionamiento al botón de búsqueda-->
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </ul>
        <ul class="navbar-nav ml-auto">
          <!--<li class="nav-item">
            <a href="/users/login" class="nav-link">INGRESAR</a>
          </li>
          <li>
            <a href="/users/register" class="nav-link">REGRISTRARSE</a>
          </li>-->
          <li class="nav-item">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hola <strong><%= user.name %> </strong>
              <% if (user.profile_img != null) { %> 
                <img src="<%= user.profile_img %>" class="user-profile-image"> 
                <% } else { %> 
               <i class="fas fa-user-circle"></i> 
              <% } %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users/profile">Ver Perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/edit-profile">Edita Perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/logout">Cerrar Sesión</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="/carts" class="nav-link"><i class="fas fa-shopping-cart"></i></a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link"><i class="fas fa-comment-alt"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>